<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Porfolio</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="portfolio-container">
      <!-- Tabs -->
      <div class="tabs">
        <a href="/portfolio">
          <button class="tab active">Portfolio</button>
        </a>

        <a href="/portfolio/History">
          <button class="tab">Done Detail</button>
        </a>
      </div>

      <!-- Summary -->
      <div class="summary">
        <div class="summary-card">
          <span>Invested</span>
          <strong><%=totalInvested.toLocaleString() %></strong>
        </div>
        <div class="summary-card">
          <span>Market Value</span>
          <strong><%= totalMarketValue.toLocaleString() %></strong>
        </div>
        <div class="summary-card">
          <span>P/L</span>
          <strong class="neutral"><%= totalPnLPercent.toFixed(2)%> (0%)</strong>
        </div>
        <div class="summary-card">
          <span>Total Equity</span>
          <strong>Rp 0</strong>
        </div>
      </div>

      <!-- Add stock -->
      <form class="add-form" action="/portfolio" method="POST">
        <input name="symbol" placeholder="Symbol" required />
        <input
          name="price"
          type="number"
          placeholder="Buy/Sell Price"
          required
        />
        <input name="lot" type="number" placeholder="Lot" required />
        <input name="targetPrice" type="number" placeholder="Target Price" />
        <input name="date" type="date" />
        <button type="submit">Add</button>
      </form>

      <!-- Table -->
      <div class="table-wrapper">
        <% if (portfolioStocks.length > 0) { %>
        <table class="portfolio-table">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Lot</th>
              <th>Avg Price</th>
              <th>Target Price</th>
              <th>Current Price</th>
              <th>Buy Date</th>
              <th>Pnl Percent</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% portfolioStocks.forEach(stock => { %>
            <tr>
              <td class="symbol"><%= stock.symbol %></td>
              <td><%= stock.quantity %></td>
              <td>Rp <%= stock.avgPrice.toLocaleString() %></td>
              <td>Rp <%=stock.targetPrice%></td>
              <td>Rp <%=stock.marketPrice%></td>
              <td><%= stock.buyDate.toISOString().slice(0,10) %></td>
              <td><%= stock.pnlPercent.toFixed(2)%>%</td>
              <td>
                <button class="details-btn" data-doc="<%=stock._id%>">
                  Delete
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <div class="empty-state">
          <p><strong>Stock Portfolio is Empty</strong></p>
          <p>Start adding your first stock investment.</p>
        </div>
        <% } %>
      </div>
    </div>
    <script>
      document.querySelectorAll(".details-btn").forEach((btn) => {
        btn.addEventListener("click", (e) => {
          e.preventDefault();

          const endpoint = `/portfolio/${btn.dataset.doc}`;

          fetch(endpoint, {
            method: "DELETE",
          })
            .then((res) => res.json())
            .then((data) => {
              window.location.href = data.redirect;
            })
            .catch((err) => console.log(err));
        });
      });
    </script>
  </body>
</html>
