<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Porfolio</title>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <div class="portfolio-container">
      <!-- Tabs -->
      <div class="tabs">
        <a href="/portfolio">
          <button class="tab">Portfolio</button>
        </a>

        <a href="/portfolio/History">
          <button class="tab active">Done Detail</button>
        </a>
      </div>

      <!-- Table -->
      <div class="table-wrapper">
        <% if (order.length > 0) { %>
        <table class="portfolio-table">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Lot</th>
              <th>Price</th>
              <th>Buy Date</th>
            </tr>
          </thead>
          <tbody>
            <% order.forEach(stock => { %>
            <tr>
              <td class="symbol"><%= stock.symbol %></td>
              <td><%= stock.quantity %></td>
              <td>Rp <%= stock.price.toLocaleString() %></td>
              <td><%= stock.tradeDate.toISOString().slice(0,10) %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } else { %>
        <div class="empty-state">
          <p><strong>Order Detials is Empty</strong></p>
          <p>Start adding your first stock investment.</p>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
